**IMPORT LIBRARIES**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

**LOAD DATASET FROM GOOGLE DRIVE**

In [2]:
from google.colab import drive
drive.mount("/content/gdrive/")

Mounted at /content/gdrive/

In [3]:
df = pd.read_csv("/content/gdrive/MyDrive/rmp/riskData.csv")

In [4]:
df

,PersonID,InitialInvestment,InvestmentType,InvestmentAmount,Current Value,ProfitLossPercenatge,Age,Gender,IncomeLevel,EducationLevel,RiskTolerance
0,1,10000,Stocks,15000,18000,20%,35,M,High,Graduate,High
1,2,5000,Mutual Funds,6000,5500,-8.30%,28,F,Medium,Undergraduate,Low
2,3,25000,Bonds,30000,28500,-5%,45,M,High,Postgraduate,Medium
3,4,15000,Real Estate,20000,18000,-25%,50,F,High,Graduate,High
4,5,200000,ETF,225000,250000,11.10%,55,M,Very high,Postgraduate,High
...,...,...,...,...,...,...,...,...,...,...,...
306,307,100000,Real Estate,120000,135000,12.50%,48,Female,High,Graduate,Medium
307,308,50000,Mutual Funds,60000,62000,3.30%,31,Male,Low,Postgraduate,Medium
308,309,200000,Stocks,240000,270000,12.50%,43,Female,High,Graduate,High
309,310,100000,Bonds,110000,112000,1.80%,52,Male,High,Postgraduate,Low
310,311,50000,Real Estate,60000,55000,-8.30%,25,Female,Low,Undergraduate,Low

**PREPROCESSING**

In [5]:
df.isna().sum()

PersonID                0
InitialInvestment       0
InvestmentType          0
InvestmentAmount        0
Current Value           0
ProfitLossPercenatge    0
Age                     0
Gender                  0
IncomeLevel             0
EducationLevel          0
RiskTolerance           0
dtype: int64

In [7]:
df.isna().sum()

PersonID                0
InitialInvestment       0
InvestmentType          0
InvestmentAmount        0
Current Value           0
ProfitLossPercenatge    0
Age                     0
Gender                  0
IncomeLevel             0
EducationLevel          0
RiskTolerance           0
dtype: int64

In [8]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 3.1 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.8/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [9]:
#Using Label Encoder for generating values for categorical variables
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()

In [10]:
df

,PersonID,InitialInvestment,InvestmentType,InvestmentAmount,Current Value,ProfitLossPercenatge,Age,Gender,IncomeLevel,EducationLevel,RiskTolerance
0,1,10000,Stocks,15000,18000,20%,35,M,High,Graduate,High
1,2,5000,Mutual Funds,6000,5500,-8.30%,28,F,Medium,Undergraduate,Low
2,3,25000,Bonds,30000,28500,-5%,45,M,High,Postgraduate,Medium
3,4,15000,Real Estate,20000,18000,-25%,50,F,High,Graduate,High
4,5,200000,ETF,225000,250000,11.10%,55,M,Very high,Postgraduate,High
...,...,...,...,...,...,...,...,...,...,...,...
306,307,100000,Real Estate,120000,135000,12.50%,48,Female,High,Graduate,Medium
307,308,50000,Mutual Funds,60000,62000,3.30%,31,Male,Low,Postgraduate,Medium
308,309,200000,Stocks,240000,270000,12.50%,43,Female,High,Graduate,High
309,310,100000,Bonds,110000,112000,1.80%,52,Male,High,Postgraduate,Low
310,311,50000,Real Estate,60000,55000,-8.30%,25,Female,Low,Undergraduate,Low

In [11]:
import random
b = df.RiskTolerance.apply(lambda x: x.replace('Medium',random.choice(['Low','High'])))

In [12]:
df.drop('RiskTolerance',axis=1,inplace=True)

In [13]:
df['RiskTolerance'] = b

In [14]:
df

,PersonID,InitialInvestment,InvestmentType,InvestmentAmount,Current Value,ProfitLossPercenatge,Age,Gender,IncomeLevel,EducationLevel,RiskTolerance
0,1,10000,Stocks,15000,18000,20%,35,M,High,Graduate,High
1,2,5000,Mutual Funds,6000,5500,-8.30%,28,F,Medium,Undergraduate,Low
2,3,25000,Bonds,30000,28500,-5%,45,M,High,Postgraduate,Low
3,4,15000,Real Estate,20000,18000,-25%,50,F,High,Graduate,High
4,5,200000,ETF,225000,250000,11.10%,55,M,Very high,Postgraduate,High
...,...,...,...,...,...,...,...,...,...,...,...
306,307,100000,Real Estate,120000,135000,12.50%,48,Female,High,Graduate,High
307,308,50000,Mutual Funds,60000,62000,3.30%,31,Male,Low,Postgraduate,Low
308,309,200000,Stocks,240000,270000,12.50%,43,Female,High,Graduate,High
309,310,100000,Bonds,110000,112000,1.80%,52,Male,High,Postgraduate,Low
310,311,50000,Real Estate,60000,55000,-8.30%,25,Female,Low,Undergraduate,Low

In [15]:
df.head(50)

,PersonID,InitialInvestment,InvestmentType,InvestmentAmount,Current Value,ProfitLossPercenatge,Age,Gender,IncomeLevel,EducationLevel,RiskTolerance
0,1,10000,Stocks,15000,18000,20%,35,M,High,Graduate,High
1,2,5000,Mutual Funds,6000,5500,-8.30%,28,F,Medium,Undergraduate,Low
2,3,25000,Bonds,30000,28500,-5%,45,M,High,Postgraduate,Low
3,4,15000,Real Estate,20000,18000,-25%,50,F,High,Graduate,High
4,5,200000,ETF,225000,250000,11.10%,55,M,Very high,Postgraduate,High
5,6,10000,Stocks,12000,11000,-8.30%,30,M,Medium,Undergraduate,Low
6,7,30000,Mutual Funds,35000,38000,8.60%,42,F,High,Postgraduate,High
7,8,5000,Bonds,5500,5250,-4.50%,25,M,Low,Graduate,Low
8,9,20000,Real Estate,25000,22000,-12%,60,F,Very high,Postgraduate,High
9,10,5000,ETF,6000,5500,10%,32,M,Medium,Undergraduate,High
10,11,100000,Stocks,120000,125000,4.20%,45,M,Very high,Postgraduate,High
11,12,8000,Mutual Funds,9000,8200,-8.90%,38,F,High,Undergraduate,Low
12,13,15000,Bonds,18000,17250,-3.30%,27,M,Medium,Graduate,Low
13,14,100000,Real Estate,110000,105000,-4.50%,50,M,High,Postgraduate,High
14,15,50000,ETF,55000,60000,9.10%,35,F,Very high,Graduate,High
15,16,5000,Stocks,7000,8000,14.30%,28,M,Low,Undergraduate,Low
16,17,20000,Mutual Funds,25000,24000,-4%,40,F,High,Postgraduate,Low
17,18,1000,Bonds,1200,1100,-8.30%,22,M,Low,Undergraduate,Low
18,19,15000,Real Estate,18000,20000,11.10%,55,F,Very high,Postgraduate,High
19,20,2000,Real Estate,15000,17000,7.80%,34,F,High,Postgraduate,High
20,21,5000,ETF,6000,5500,-8.30%,29,F,Medium,Undergraduate,Low
21,22,25000,Stocks,30000,32000,6.70%,40,M,High,Postgraduate,High
22,23,10000,Mutual Funds,12000,11000,-8.30%,35,F,Medium,Undergraduate,Low
23,24,5000,Bonds,5500,5000,-9.10%,27,M,Low,Graduate,Low
24,25,20000,Real Estate,25000,23000,-8%,50,M,Very high,Postgraduate,High
25,26,50000,ETF,55000,60000,9.10%,35,M,Very high,Postgraduate,High
26,27,5000,Stocks,7000,8000,14.30%,30,M,Low,Undergraduate,Low
27,28,25000,Mutual Funds,30000,28500,-5%,45,F,High,Postgraduate,Low
28,29,10000,Bonds,12000,11000,-8.30%,35,M,Medium,Undergraduate,Low
29,30,15000,Real Estate,20000,18000,-25%,50,F,High,Graduate,High
30,31,100000,ETF,120000,130000,8.30%,45,M,Very high,Postgraduate,High
31,32,8000,Stocks,9600,11000,14.60%,38,F,High,Undergraduate,High
32,33,15000,Mutual Funds,18000,17250,-3.30%,27,M,Medium,Graduate,Low
33,34,100000,Bonds,120000,115000,-4.20%,50,M,High,Postgraduate,High
34,35,50000,Real Estate,60000,55000,-8.30%,35,F,Very high,Graduate,High
35,36,10000,ETF,12000,13200,10%,32,M,Medium,Undergraduate,High
36,37,5000,Stocks,6000,5500,-8.30%,29,F,Medium,Undergraduate,High
37,38,25000,Mutual Funds,30000,31500,5%,40,M,High,Postgraduate,High
38,39,10000,Bonds,12000,13000,8.30%,35,F,Medium,Undergraduate,High
39,40,15000,ETF,18000,17500,-7.40%,27,M,Medium,Undergraduate,Low
40,41,8000,Stocks,9600,8800,-8.30%,35,F,Medium,Postgraduate,High
41,42,10000,Mutual Funds,12000,13000,8.30%,50,M,High,Undergraduate,High
42,43,5000,Bonds,5500,6000,9.10%,29,F,Low,Postgraduate,High
43,44,20000,Real Estate,25000,22000,-12%,40,M,Very high,Graduate,High
44,45,50000,ETF,60000,55000,-8.30%,35,M,Very high,Postgraduate,Low
45,46,5000,Stocks,7000,6000,-14.30%,30,M,Low,Undergraduate,Low
46,47,25000,Mutual Funds,30000,31500,5%,45,F,High,Postgraduate,High
47,48,10000,Bonds,12000,13000,8.30%,35,M,Medium,Undergraduate,High
48,49,15000,Real Estate,20000,19500,-2.50%,50,F,High,Graduate,High
49,50,100000,ETF,120000,125000,4.20%,45,M,Very high,Postgraduate,High

In [16]:
cols = ['Gender','IncomeLevel','EducationLevel','RiskTolerance','InvestmentType']
df[cols] = df[cols].apply(le.fit_transform)

In [17]:
a = df.ProfitLossPercenatge.apply(lambda x: x.replace('%',''))

In [18]:
a

0         20
1      -8.30
2         -5
3        -25
4      11.10
       ...
306    12.50
307     3.30
308    12.50
309     1.80
310    -8.30
Name: ProfitLossPercenatge, Length: 311, dtype: object

In [19]:
df['profitLossPercent'] = a

In [20]:
df

,PersonID,InitialInvestment,InvestmentType,InvestmentAmount,Current Value,ProfitLossPercenatge,Age,Gender,IncomeLevel,EducationLevel,RiskTolerance,profitLossPercent
0,1,10000,4,15000,18000,20%,35,2,0,0,0,20
1,2,5000,2,6000,5500,-8.30%,28,0,2,2,1,-8.30
2,3,25000,0,30000,28500,-5%,45,2,0,1,1,-5
3,4,15000,3,20000,18000,-25%,50,0,0,0,0,-25
4,5,200000,1,225000,250000,11.10%,55,2,3,1,0,11.10
...,...,...,...,...,...,...,...,...,...,...,...,...
306,307,100000,3,120000,135000,12.50%,48,1,0,0,0,12.50
307,308,50000,2,60000,62000,3.30%,31,3,1,1,1,3.30
308,309,200000,4,240000,270000,12.50%,43,1,0,0,0,12.50
309,310,100000,0,110000,112000,1.80%,52,3,0,1,1,1.80
310,311,50000,3,60000,55000,-8.30%,25,1,1,2,1,-8.30

In [21]:
df.drop('ProfitLossPercenatge',axis=1,inplace= True)

In [22]:
df.drop('Gender',axis=1,inplace=True)

In [23]:
df['RiskTolerance']

0      0
1      1
2      1
3      0
4      0
      ..
306    0
307    1
308    0
309    1
310    1
Name: RiskTolerance, Length: 311, dtype: int64

In [24]:
target = df['RiskTolerance']

In [25]:

df.drop('RiskTolerance',axis=1,inplace = True)

In [26]:
df.drop('Age',axis=1,inplace=True)

In [27]:
df.drop('EducationLevel',axis=1,inplace=True)

In [28]:
df['profitLossPercent'] = pd.to_numeric(df['profitLossPercent'])

In [29]:
df

,PersonID,InitialInvestment,InvestmentType,InvestmentAmount,Current Value,IncomeLevel,profitLossPercent
0,1,10000,4,15000,18000,0,20.0
1,2,5000,2,6000,5500,2,-8.3
2,3,25000,0,30000,28500,0,-5.0
3,4,15000,3,20000,18000,0,-25.0
4,5,200000,1,225000,250000,3,11.1
...,...,...,...,...,...,...,...
306,307,100000,3,120000,135000,0,12.5
307,308,50000,2,60000,62000,1,3.3
308,309,200000,4,240000,270000,0,12.5
309,310,100000,0,110000,112000,0,1.8
310,311,50000,3,60000,55000,1,-8.3

**TRAINING**

In [30]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree

In [31]:
X_train, X_test, y_train, y_test = train_test_split(df,target, test_size = 0.3, random_state=100)

In [32]:
from sklearn.ensemble import RandomForestClassifier

USING RANDOM FOREST CLASSIFIER 

MAX_ACCURACY - 79.8%

In [33]:
clf = RandomForestClassifier(n_estimators = 13)  #13
  
# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(X_train, y_train)
  
# performing predictions on the test dataset
y_pred = clf.predict(X_test)
  
# metrics are used to find accuracy or error
from sklearn import metrics  
print()
  
# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.7978723404255319

TESTING ON CHUNKS OF OUR TRAINING DATA

In [38]:
X_train.iloc[1]

PersonID               27.0
InitialInvestment    5000.0
InvestmentType          4.0
InvestmentAmount     7000.0
Current Value        8000.0
IncomeLevel             1.0
profitLossPercent      14.3
Name: 26, dtype: float64

In [46]:
X_train.iloc[0:1]

,PersonID,InitialInvestment,InvestmentType,InvestmentAmount,Current Value,IncomeLevel,profitLossPercent
52,53,100000,0,120000,130000,0,8.3

In [47]:
y_pred_test = clf.predict(X_train.iloc[0:5])

In [48]:
y_pred_test

array([0, 1, 0, 0, 1])

TRAINING USING DECISION TREES

MAX_ACCURACY - 79%

In [ ]:
model = DecisionTreeClassifier(criterion='gini',random_state=42
                               ,max_depth=8,min_samples_leaf=5)

In [ ]:
model.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=8, min_samples_leaf=5, random_state=42)

In [ ]:
print(model)

DecisionTreeClassifier(max_depth=8, min_samples_leaf=5, random_state=42)

In [ ]:
#y_pred = model.predict(X_test)

In [ ]:
#from sklearn import metrics
#from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
#print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.81      0.83      0.82        36
           1       0.77      0.74      0.75        27

    accuracy                           0.79        63
   macro avg       0.79      0.79      0.79        63
weighted avg       0.79      0.79      0.79        63